@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #000;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}